@keyframes slide_right {
    0% {left: -100%; opacity: 0}
    80% {left: 5%}
    100% {left: 0; opacity: 1}
}

.item {
    $line-height: 1.2em;
    $btn-color: #7F8C8D;

    position: relative;

    margin: 1rem 0;
    padding: 1em 1.5em;
    padding-right: 52px;

    overflow: hidden;
    @include ease-out(0.3s);

    &--editable {
        background: rgba(36, 32, 32, 0.1);
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;

        width: 100%;
        height: 1px;
    }

    &::before {
        top: 0;
        @include main-gradient(to right);
    }

    &::after {
        bottom: 0;
        @include main-gradient(to left);
    }

    .content {
        width: 100%;
        padding: 0;
        margin: 0;
        resize: none;
        font: inherit;
        text-align: justify;
        word-wrap: break-word;
    }

    textarea {
        color: $page-font-color;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .option {
        width: 33px;
        height: 33px;
        padding: 0;

        border: none;
        background: none;

        cursor: pointer;

        &:hover {
            transform: scale(1.2); 
        }

        &:focus {
            outline: none;
        }

        @include ease-out(0.15s);
    }

    .option--done {
        position: absolute;
        top: 50%;
        right: 10px;

        transform: translateY(-50%);
        fill: $btn-color;

        &:hover {
            transform: translateY(-50%) scale(1.2); 
        }
    }

    &--completed {
        .content {
            text-decoration: line-through;
        }

        .option--done {
            fill: #2ECC71;
        }
    }

    .options {
        position: absolute;
        left: 0;
        top: 1px;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-right: 10px;

        background: linear-gradient(to right, #eaafc8, #654ea3);
        animation: slide_right 0.3s;

        .option {
            margin-left: 10px;
            fill: white;
        }
    }
}