{
    "presets": [
        [
            "@babel/env",
            {
                "targets": "> 1%, not dead",
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "babel-plugin-macros"
    ]
}