{
    "presets": [
        [
            "@babel/env",
            {
                "targets": "> 1%, not dead",
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react"
    ]
}