/* Global fonts rules */
$page-font: 'Roboto', sans-serif;
$page-font-size: 20px;
$page-font-color: #555555;
$page-line-height: normal;

/* Sizes */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$desktop-large-width: 1600px;

$mobile-width-only: $tablet-width - 1px;
$tablet-mobile-width-only: $desktop-width - 1px;

$mobile-wrapper-width: 260px;
$tablet-wrapper-width: 668px;
$desktop-wrapper-width: 1050px;

/* Resolucions */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Colors */
