$horizontal-padding: 8px;
$mobile-cockpit-height: 60px;

.cockpit {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    
    height: $mobile-cockpit-height;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 $horizontal-padding;

    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.title {
    width: 100%;
    height: $mobile-cockpit-height;
    margin: 0;

    font-family: 'Pt Sans Narrow', sans-serif;
    font-size: 32px;
    line-height: $mobile-cockpit-height;
    text-align: center;
    color: black;
}

.add-item {
    position: absolute;
    top: 50%;
    right: $horizontal-padding;
    transform: translateY(-50%);

    align-self: center;
    width: 44px;
    height: 44px;

    background: $secondary-color;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    
    @include ease-out(0.15s);

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        display: block;
        background: white;
    }

    &::before {
        width: 15px;
        height: 3px;
    }

    &::after {
        width: 3px;
        height: 15px;
    }

    &:hover{
        transform: translateY(-50%) scale(1.2);
    }
}