@import './assets/scss//fonts.scss';
@import './assets/scss/normalize.scss';

*, *::before, *::after {
    box-sizing: inherit;
  }
  
  html, body {
    box-sizing: border-box;
  }
  
  html {
    font-size: $page-font-size;
  }
  
  body {
    position: relative;
    min-width: $mobile-width;
    margin: 0;
  
    font-family: $page-font;
    font-size: $page-font-size;
    font-weight: normal;
    line-height: $page-line-height;
    color: $page-font-color;
  }
  
  #root {
    padding: 3vh 0;
    @include main-gradient(to bottom);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  